body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    margin: 0;
    background-color: antiquewhite;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    height: 80vh;
    width: 80vh;
    border: 32px ridge rgb(255, 7, 7);
    background-color: rgb(230, 235, 245);
}

#buttonDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    width: 80vh;
}

button {
    flex-shrink: 0;
    height: 44px;
    margin: 8px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-color: darkgrey;
}

#shakeItButton {
    animation: colorRotate 0.5s linear 0s infinite;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#random {
    animation: colorRotate 1s linear 0s infinite;
}

#eraser {
    color:rgb(231, 139, 162)
}

.optionButton{
    box-sizing: border-box;
    width: 44px;
    border-width: 3px;
    border-style: outset;
    border-radius: 22px;
    padding: 0;
    font-size: 24px;
    
}

.selected {
    border-style: inset;
    background-color: lightgray;
}

@keyframes colorRotate {
    from {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: rgb(241, 203, 33);
    }
    42% {
        color: rgb(48, 216, 48);
    }
    56% {
        color: blue;
    }
    70% {
        color: rgb(146, 42, 219)
    }
    84% {
        color: violet
    }
    100% {
        color: red
    }
}